- attributes("title") = "Scalatra: a tiny, Sinatra-like web framework for Scala"
- attributes("headline") = "Welcome to Scalatra EVERYBODY"


- var msg = "not my inside voice";
p This is #{msg.toUpperCase()}